.header {
  background-color: #F9FAF4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerTitle {
  color:#4A6163;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
  
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
  color:#4A6163
}

.headerBtn {
  background-color: #FFC94B;
  color: #F9FAF4;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: #F9FAF4;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: #4A6163;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: #4A6163;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
  background-color: #F9A66C;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: #F9FAF4;
  color: #4A6163;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #4A6163;
  color: #4A6163;
  cursor: pointer;
  background-color: #F9FAF4;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.recordsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.recordButton {
  color: #4A6163;
  background-color: #FFC94B;
  width: 12rem;
  height: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin: 0 1rem;
}